<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender for logging to the console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Layout pattern -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger with INFO level -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>
